.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.bigcontainer{
    width: 100%;
    margin: 0 auto;
    // background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
}